:root {
    --bg-button: #3a3a3a;
    --border-button: #1b1b1c;
}

.button {
    font-size: 1.4em;
    background: var(--bg-button);
    color: #c5c5c5;
    outline: none;
    border: 1px solid var(--border-button);
    border-radius: 10px;
    cursor: pointer;
}

.button:active {
    background: #1b1b1c;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background: #bb5f00;
}

.button.operation:active {
    background: #a25201;
}